@import "../../styles/_variables";

.city-page {
  display: flex;
  flex-flow: column;

  @media (min-width: $media-md) {
    flex-flow: row;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
  }
}