@import "../../styles/_variables";

.forecast {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);

  @media (min-width: $media-md) {
    width: 40%;
  }
}

.forecast-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.forecast-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &:last-child {
    border-bottom: none;
  }
}

.day {
  font-size: 0.9rem;
}