.container {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

.date {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 8px;
}

.general {
  display: flex;
  align-items: center;
}

.main-temp {
  font-size: 1.5rem;
  font-weight: bold;
}

.secondary {
  display: flex;
  flex-flow: column;
  font-size: 0.9rem;
  margin-left: 40px;
}

.hourly {
  display: flex;
  flex-wrap: wrap;
}

.hourly-item {
  min-width: 60px;
  max-width: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
}

.hour {
  margin: 0;
}