.tabs {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tab-item {
  display: flex;
  background-color: rgba(#5c1f3f, 0.1);
  border-radius: 4px 4px 0 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    transition: background-color 0.2s;
  }

  &:hover {
    .delete-button {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.tab-item-selected::after {
  background-color: var(--cta-color);
}

button {
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
}

.tab-button {
  border: none;
  font: inherit;
  width: 150px;
  height: 100%;
  font-size: 0.8rem;
  padding: 12px 0 12px 4px;
  text-transform: uppercase;
}

.delete-button {
  padding: 0 8px 0 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  flex-shrink: 0;
}

.tabs-vertical {
  &.tabs {
    flex-direction: column;
    border-bottom: none;
    flex-wrap: nowrap;
  }

  .tab-item {
    min-height: 50px;
    padding-left: 20px;
    align-items: center;
    border-radius: 4px 0 0 4px;

    &::after {
      bottom: 0;
      top: 0;
      left: 0;
      width: 8px;
      height: 100%;
      border-radius: 4px 0 0 4px;
    }
  }

  .tab-button {
    width: 100%;
    text-align: left;
  }
}